@import 'colors';

.products {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.type-product {
  width: 353px;
  height: 229px;
  margin-top: 10px;
  color: $darkcolor; 
 

}


.orderby{
    margin-top: -50px;
    width: 200px;
    float: right;
    margin-right: 100px;
}

.searchform{
   margin-top: -15em;
    width: 200px;
    float: right;
    margin-right: 100px;
}